.spinner {
  width: 40px;
  height: 40px;
  background: linear-gradient(to top right, #1900ff, #ffffffa9);
  transition: 0.75s ease-in;
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 0.75s infinite ease-in-out;
  animation: sk-rotateplane 0.75s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 999999;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  transition: 0.5s ease-in-out;
  margin-top: 25px;
  margin-bottom: 25px;
}

#wish {
  font-size: 50px;
  text-align: center;
}

.text_color {
  background: linear-gradient(to bottom, #3729b9, #302c50);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text_color:hover {
  background: linear-gradient(to bottom, #6355e0, #585285);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.time_wrapper {
  position: relative;
}
#time {
  /* text-shadow: 0 0 55px #2980b9; */
  font-size: 5rem;
}
#med {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 0;
}

#sec {
  font-size: 25px;
}

.day_wrapper {
  display: flex;
  justify-content: space-between;
}
.day_wrapper span {
  font-size: 1rem;
  opacity: 0.4;
  font-weight: 600;
}
#full_date {
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
